
@{
    ViewBag.Title = "Publications";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="imagewithcaption">
    <img src="~/assets/images/features/Bushranger cave.jpg" alt="Bushranger Cave" /><br />Bushranger Cave, Abercrombie 2017 (Photo: Rod Smith)
</div>

<h2>Resources</h2>
<p>In addition to @Html.ActionLink("Links", "Links", "Members") and @Html.ActionLink("Directions", "Directions", "Members"), there are a number of helpful Resources for our members:</p>
<ul>
    <li>@Html.ActionLink("Archived Newsletters", "Newsletters", "Members") -  our digital library is extensive, check out the type of trips MSS members were doing five or six years ago.</li>
    <li>@Html.ActionLink("Trip Leader's Checklist", "LeaderChecklist", "Members") – and other information that existing and new leaders will find helpful.</li>
    <li>@Html.ActionLink("Reciprocal Arrangements", "ReciprocalArrangements", "Members") – details of arrangements we’ve made with other clubs which help promote both their activities and those of MSS.</li>
    <li>@Html.ActionLink("50th Anniversary Publication", "FiftiethPublication", "Members") – a great run down on what MSS has been up to over the last 50 years.</li>
    <li>@Html.ActionLink("30th Anniversary Publication", "ThirtiethPublication", "Members") – a retrospective of MSS through the years 1966 to 1996.</li>
    <li>@Html.ActionLink("MSS Constitution", "Constitution", "Members") – it’s all about transparency, for those who may want to check that the Committee has the club’s best interests at heart.</li>
    <li>@Html.ActionLink("Library Catalogue", "Library", "Members") – a wealth of speleological information.</li>
</ul>